{% extends "index.html" %}

{% block contenido %}
    <div class="w-25" style="margin: 0 auto">
        {% if get_flashed_messages() %}
            {% for mensaje in get_flashed_messages() %}
                <script>
                    Swal.fire("Registro", "{{ mensaje }}", "info");
                </script>
            {% endfor %}
        {% endif %}

        <form id="frmUsuario" method="POST" action="/registrarUser/" class="was-validated">
            <br><br>
            <div>
                <h3 class="text-center fw-bold bg-dark text-white" style="font-size:2lvw">
                    REGISTRAR USUARIO
                </h3>
            </div>

            <div class="mb-3">
                <label class="fw-bold" for="txtNombre">Nombre completo:</label>
                <input type="text" name="txtNombre" id="txtNombre" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="fw-bold" for="txtEmail">Email:</label>
                <input type="email" name="txtEmail" id="txtEmail" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="fw-bold" for="txtOficina">Oficina:</label>
                <select name="txtOficina" id="txtOficina" class="form-select" required>
                    <option value="" selected>Seleccione una oficina</option>
                    {% for o in oficina %}
                        <option value="{{ o.id }}">{{ o.nombreOficina }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="fw-bold" for="cbTipoUsuario">Tipo de usuario:</label>
                <select name="cbTipoUsuario" id="cbTipoUsuario" class="form-select" required>
                    <option value="" selected>Seleccione</option>
                    <option value="Asistente">Asistente</option>
                    <option value="Administrador">Administrador</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-dark">Registrar</button>
                <a href="/"><button type="button" class="btn btn-secondary">Cancelar</button></a>
            </div>
        </form>
    </div>
{% endblock %}
